.cars{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.boxTotal{
    gap: 20px;
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 5%;
    
}
.boxTotal a{
    color: #363636;
}
.boxCars{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px #959595;
    background-color: #fff7fa;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.imageCar{
    text-align: center;
    cursor: pointer;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
}
.imageCar img{
    width: 70%;
    transition: all 0.35s;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;

}
.imageCar img:hover{
   transform: scale(1.2);
   -webkit-transform: scale(1.2);
   -moz-transform: scale(1.2);
   -ms-transform: scale(1.2);
   -o-transform: scale(1.2);
   transition: all 0.35s;
   -webkit-transition: all 0.35s;
   -moz-transition: all 0.35s;
   -ms-transition: all 0.35s;
   -o-transition: all 0.35s;
}
.titleCar{
    margin: 5px 20px;
}
@media (max-width:800px) {
    .boxTotal{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
@media (max-width:500px) {
    .boxTotal{
        display: grid;
        grid-template-columns: 1fr ;
    }
}}
